[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
scikit-learn = "*"
pymysql = "*"
numpy = "*"
pandas = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.13"
